COMPOSE_PROJECT_NAME=batuara-net-local
PROJECT_NAME=batuara
DB_NAME=batuara_db
DB_PASSWORD=
JWT_SECRET=
ENVIRONMENT=Development
VOLUME_PREFIX=batuara
NGINX_PORT=8080
NGINX_PORT_HTTP=80
REACT_APP_API_URL_PUBLIC=/batuara-api
REACT_APP_API_URL_ADMIN=/batuara-api/api

# Senha do admin para seed inicial (mínimo 8 caracteres)
SEED_ADMIN_PASSWORD=
