--
-- PostgreSQL database dump
--

\restrict LJMws0PUzzEexizdwcY0qeNZDOoHH4ZJBLl9IqqgPgImNeKwxpEFKlvYSB6445k

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: CalendarAttendances; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: CalendarAttendances_backup_pre2026; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: ContactMessages; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: Events; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: Events_backup_pre2026; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: Guides; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: HouseMembers; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--

COPY batuara."HouseMembers" ("Id", "FullName", "BirthDate", "EntryDate", "HeadOrixaFront", "HeadOrixaBack", "HeadOrixaRonda", "Email", "MobilePhone", "ZipCode", "Street", "Number", "Complement", "District", "City", "State", "CreatedAt", "UpdatedAt", "IsActive") FROM stdin;
4	Marco Guelfi	1967-12-03 00:00:00+00	2023-12-06 00:00:00+00	Yemanj├í	Ogun	Xang├┤	guelfi@msn.com	(11) 97574-7470	09190-670	Rua Gamboa	366	ap 6	Paraiso	Santo AndrÔö£┬«	SP	2026-05-13 22:09:19.273792+00	2026-05-14 18:14:59.202337+00	t
\.


--
-- Data for Name: HouseMemberContributions; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--

COPY batuara."HouseMemberContributions" ("Id", "HouseMemberId", "ReferenceMonth", "DueDate", "Amount", "Status", "PaidAt", "Notes", "CreatedAt", "UpdatedAt", "IsActive") FROM stdin;
4	4	2026-05-01 00:00:00+00	2026-05-10 00:00:00+00	50.00	Pending	\N	\N	2026-05-13 22:09:19.280904+00	2026-05-14 18:14:59.202344+00	t
\.


--
-- Data for Name: Orixas; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: SiteSettings; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: SpiritualContents; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: UmbandaLines; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: batuara; Owner: batuara_user
--

COPY batuara."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260522223141_AddPixQrCodeBase64	9.0.14
\.


--
-- Name: CalendarAttendances_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."CalendarAttendances_Id_seq"', 105, true);


--
-- Name: ContactMessages_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."ContactMessages_Id_seq"', 5, true);


--
-- Name: Events_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."Events_Id_seq"', 23, true);


--
-- Name: Guides_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."Guides_Id_seq"', 15, true);


--
-- Name: HouseMemberContributions_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."HouseMemberContributions_Id_seq"', 4, true);


--
-- Name: HouseMembers_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."HouseMembers_Id_seq"', 4, true);


--
-- Name: Orixas_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."Orixas_Id_seq"', 18, true);


--
-- Name: SiteSettings_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."SiteSettings_Id_seq"', 1, true);


--
-- Name: SpiritualContents_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."SpiritualContents_Id_seq"', 8, true);


--
-- Name: UmbandaLines_Id_seq; Type: SEQUENCE SET; Schema: batuara; Owner: batuara_user
--

SELECT pg_catalog.setval('batuara."UmbandaLines_Id_seq"', 10, true);


--
-- PostgreSQL database dump complete
--

\unrestrict LJMws0PUzzEexizdwcY0qeNZDOoHH4ZJBLl9IqqgPgImNeKwxpEFKlvYSB6445k

